---
  - name: add nginx vhost
    action: template src=teamcity.conf.j2 dest="/etc/nginx/sites-available/teamcity.conf"
    sudo: true
    notify:
      - restart nginx

  - name: link nginx vhost in sites-enabled
    action: file src=/etc/nginx/sites-available/teamcity.conf dest=/etc/nginx/sites-enabled/teamcity.conf state=link
    sudo: true
    notify:
      - restart nginx

  - name: delete default vhost
    action: file path=/etc/nginx/sites-enabled/default state=absent
    sudo: true
    notify:
      - reload nginx